@model CorePractise01.Contracts.ViewModels.EditFeedViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditFeedViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSizeInMl" class="control-label"></label>
                <input asp-for="TotalSizeInMl" class="form-control" />
                <span asp-validation-for="TotalSizeInMl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConsumedInMl" class="control-label"></label>
                <input asp-for="TotalConsumedInMl" class="form-control" />
                <span asp-validation-for="TotalConsumedInMl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfFeed" class="control-label"></label>
                <input asp-for="TimeOfFeed" class="form-control" />
                <span asp-validation-for="TimeOfFeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
